.App {
  text-align: center;
  display: flex;
  overflow: hidden;
}

svg {
  width: auto;
  height: auto;
}

.header {
  padding: 1vw 2vw;
  margin-bottom: 32px;
  box-shadow: 0 35px 21px -30px rgba(0, 0, 0, 0.23);
}

.row {
  margin-top: 30px;
}

.App-link {
  color: #61dafb;
}

.selectRangeDD {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
}

.highlighted {
  fill: #0D7EF9;
}

.interactiveContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
